/*
The following code styles the layout and appearance of the website.
It includes styles for the body element, the navigation menu, and various
sections and elements within the body of the Main page.
*/

/* Reset default margins and padding for all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Set a default background color for the body */
  background-color: #1F2122;

}



header {
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* Set a light gray background color for cards */
.lightgray {

  background-color: #26292A;
}

/* Set the default background color for all div elements to transparent */
div {
  background-color: transparent;
}

.card>div {
  position: relative;
}

/*
Position a span element (which will contain a price) absolutely
within a div element and style it
*/
.card>div span {
  position: absolute;
  bottom: 14px;
  right: 15px;
  border-radius: 40px;
  padding: 10px;
  color: white;
}

/* Style h2 elements with a white font color */
h2 {
  background-color: transparent;
  color: white;
  font-family: 'Arimo';
  margin-left: 50px;
  font-weight: 100;

}

/* Set the default font family for the body to Arimo */
body {
  font-family: Arimo;
}

/*
Style elements with the class "card" and a descendant element
with the class "cardImageBox"
*/
card.cardImageBox {
  width: 50%;
  border-color: white;
  border-width: 3px;

}

/* Style the navigation menu */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 7.915567282321899vh;
  width: 99%;
}

.logo {
  margin-left: 4.625rem;
  margin-right: auto;
}

.logo img {
  height: 100px;
  width: 100px;
}

/*editing the search bar*/
form {
  background-color: #26292a;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 19.020833333333334vw;
  max-width: 200px;
}

::placeholder {
  color: #9c9c9c;
}



input[type="text"] {
  min-width: 19.020833333333334vw;
  height: 30px;
  border: none;
  background-color: transparent;
  padding: 0 10px;
  font-size: 0.875rem;
  color: #9c9c9c;
}

/*this was added for the sign-up page*/
input[type="password"] {
  width: 300px;
  height: 30px;
  border: none;
  background-color: transparent;
  padding: 0 10px;
  font-size: 0.875rem;
  color: #9c9c9c;
}

/*the following is used to remove the white outline of the form box that appears when typing in it*/
textarea:focus,
input:focus {
  outline: none;
}

ul {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

li {
  margin-right: 20px;
}

/*In order to make "Main" have the signature pinkish color we do the folowing*/
li:first-child a {
  color: #D62562;
}

a {
  color: #9c9c9c;
  text-decoration: none;
  
}

/* here follows the account container*/

.account-container {
  display: flex;
  align-items: center;
  margin-right: 90px;
  margin-left: 20px;
  background-color: #26292a;
  border-radius: 50px;
  padding: 6px;
}

.account-container .account {
  padding: 2px;
  color: #9c9c9c;
  text-decoration: none;
  margin-right: 5px;
}

.account-container .avatar {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

  a {
    background-color: transparent;
  }
  
  /* This section sets a maximum width for the container element and centers it on the page. It also sets a background color, border radius, and padding for the container. */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #26292A;
    border-radius: 40px;
    padding: 20px;
  }
  
  .infocontainer {
    background-color: #1F2122;
    border-radius: 40px;
    padding: 2%;
  }

/* Dropdown Button */
.dropbtn {
  background-color: #BA2649;
  color: white;
  padding: 10px 18px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 100px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9b4;
  border-radius: 10px;
  top: 38px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #D62562;}


  /* This section sets the display, flex direction, alignment, and height for the banner element. It also sets the background image, size, position, margin, and border radius for the banner. */
  .banner {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 400px;
    
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    border-radius: 40px;
    background-image: url("/images/operaVillageInterior60.png"); /*The image is taken from Opera GX and belongs to Opera GX. Image source: https://www.opera.com/gx/village?utm_source=blog*/
  }
  
  /* This section sets the font size, margin, color, font family, and font weight for the first h1 element within the banner element. */
  .banner h1 {
    font-size: 48px;
    margin-bottom: 0px;
    color: white;
    background-color: transparent;
    font-family: 'Arimo';
    font-weight: bold;
    margin-left: 50px;
  }

  
  
  /* This section sets the border, outline, background color, color, padding, font size, cursor, border radius, max width, and font family for the button element within the banner element. */
  .banner button {
    border: none;
    outline: none;
    background-color: #BA2649;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    max-width: 150px;
    font-family: 'Arimo';
    margin-left: 50px;
    margin-top: 20px;
  }

  .banner a {
    background-color: transparent;
  }
  
  /* This section sets the padding, background color, border radius, and margin for the section element. It also sets the color for the p element within the section element. */
  section {
    padding: 20px;
    background-color: #1F2122;
    border-radius: 40px;
    margin-bottom: 20px;
    
    
  }

  .upcomingEvents {
    display: table-caption;

  }

  .upcomingEvents.card-container {
    width: 500px;
  }

.menu ul li {
  margin-left: 20px;
  background-color: transparent;
}

.menu li a {
  color: #9C9C9C;
  text-decoration: none;
  font-size: 16px;
  background-color: transparent;
  padding: 5px;
}

a {
  background-color: transparent;
}

/* This section sets a maximum width for the container element and centers it on the page. It also sets a background color, border radius, and padding for the container. */
.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #26292A;
  border-radius: 40px;
  padding: 20px;
}

/* This section sets the display, flex direction, alignment, and height for the banner element. It also sets the background image, size, position, margin, and border radius for the banner. */
.banner {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 400px;

  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  border-radius: 40px;
  background-image: url("/images/operaVillageInterior60.png");
}

/* This section sets the font size, margin, color, font family, and font weight for the first h1 element within the banner element. */
.banner h1 {
  font-size: 48px;
  margin-bottom: 0px;
  color: white;
  background-color: transparent;
  font-family: 'Arimo';
  font-weight: bold;
  margin-left: 50px;
}



/* This section sets the border, outline, background color, color, padding, font size, cursor, border radius, max width, and font family for the button element within the banner element. */
.banner button {
  border: none;
  outline: none;
  background-color: #BA2649;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  max-width: 150px;
  font-family: 'Arimo';
  margin-left: 50px;
  margin-top: 20px;
}

/* This section sets the padding, background color, border radius, and margin for the section element. It also sets the color for the p element within the section element. */
section {
  padding: 20px;
  background-color: #1F2122;
  border-radius: 40px;
  margin-bottom: 20px;

}

/* This section sets the color for the p element within the section element. */
section p {
  color: white;
  margin-left: 15px;
  line-height: 25px;
  background-color: transparent;
}

/* This section sets the border, outline, background color, color, padding, font size, cursor, border radius, max width, and font family for the button element within the section element. */
section button {
  border: none;
  outline: none;
  background-color: #BA2649;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  max-width: 150px;
  font-family: 'Arimo';

}

/* This section sets the h1 element within the section element. */
section h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
  font-family: 'Arimo';
  font-weight: bold;
  margin-left: 50px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: grid;
  padding: 25px;
  /*flex-wrap: wrap;*/
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-between;
}

.card {
  /*width: calc(25% - 10px);*/
  margin-bottom: 20px;
  border: 1px solid #26292A;
  border-radius: 40px;
  padding: 20px;
}

.eventListItem {
  padding: 20px;
  width: 1100px;
  background-color: #26292A;
  border-radius: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-top: 30px;
}

.eventListItem p {
  background-color: transparent;
  padding: 20px;
}

.eventListItem img {
  width:200px;
  height: 200px;
  border-radius: 40px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 40px;
  opacity: 60%;

}

.card h2 {
  font-size: 18px;
  margin: 10px;
  color: #9C9C9C;
  background-color: transparent;
  font-family: 'Arimo';
}

.card p {
  font-size: 14px;
  margin: 10px;
  color: #9C9C9C;
  background-color: transparent;
  font-family: 'Arimo';
}

.section-3 {
  padding: 20px;
  background-color: #26292A;
  border-radius: 40px;
}

.section-3 h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
  background-color: transparent;
  font-family: 'Arimo';
}



.section-3 .row {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.section-3 .card {

  margin-bottom: 20px;
  border: 1px solid #333;
}

.section-3 .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 40px;
  background-color: transparent;
}

.section-3 .card h2 {
  font-size: 18px;
  margin: 10px;
  color: #9C9C9C;
  background-color: transparent;
  font-family: 'Arimo';
}

.section-3 .card p {
  font-size: 14px;
  margin: 10px;
  color: #9C9C9C;
  font-family: 'Arimo';
}

.direction {
  text-align: center;
}

.direction button {
  font-family: cursive;
  font-weight: bold;
  background-color: #26292a;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s;
  margin: 0 10px;
}

.direction button:hover {
  background-color: #ffffff;
}

img .avatar {
  padding: 0px
}

.item {
  border-radius: 40px;
  display: flex;
  height: 50%;
  background-color: #26292a;
  overflow: hidden;
  transition: 0.5s;
  margin: 10px;
  scroll-snap-align: start;
  margin-left: 10px;
  align-items: center;
}


.item .avatar {
  display: block;
  height: 450px;
  width: 350px;
  padding: 20px;
  object-fit: cover;
  border-radius: 20px;
  border-radius: 40px;
  background-color: transparent;
}

.item .content {
  padding: 30px;
  background-color: transparent;
}

.item .content table td {
  padding: 10px 0;
  border-bottom: 1px solid #7e878d;
  text-align: center;
  color: #9C9C9C;
  background-color: #26292a;

}



#list {
  display: flex;
  width: max-content;
}

#formList {
  width: 1280px;
  max-width: 100%;
  overflow: auto;

  scroll-behavior: smooth;
  scroll-snap-type: both;
}

#formList::-webkit-scrollbar {
  display: none;
}

.button1 {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

}



/* Media Queries */

@media screen and (max-width: 992px) {

  .banner h1 {
    margin-left: 0px;
  }

  .banner button {
    margin-left: 0px;
  }

  h2 {
    margin-left: 0px;
  }

  .item {
    display: block;
  }

  a {
    
    font-size: 12px;
  }

  .item .avatar {
    max-width: 270px;
    padding: 20px;
    margin-left: 5px;
    
  }

  .account-container .avatar {
    display: none;

  }

  .eventListItem {
  margin-bottom: 20px;
  border: 1px solid #26292A;
  border-radius: 40px;
  padding: 0px;
  display: block;
  width: 290px;
  margin-left: 0px;
  align-items: center;
  }

  .eventListItem img {
    width: 250px;
    border-radius: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .eventListItem h2 {
    margin-left: 20px;
    margin-top: 20px;
  }


  section h1 {
    margin-left: 0px;
  }

  section p {
    margin-left: 0px;
    background-color: transparent;
    margin-left: 20px;
  }

  .section-3 .row {
    width: 100%;
  }

  nav {
    width: calc(50% - 10px);
    background-color: #26292A;
  }

  .nav-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  header {
    justify-content: center;
    display: flex;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #26292A;
    border-radius: 40px;
  }

  input {
    display: none;
  }
  
  ul {
    
    background-color: #1F2122;    
    border-radius: 40px;
    padding: 10px;
    margin-bottom: 10px;
  }

  li {
    background-color: #1F2122;
    border-radius: 40px;
    padding: 10px;
    background-color: #26292A;
    margin-right: 10px;
  }

  a.account {
    line-height: 30px;
  }

  a.account.account {
    margin-right: 15px;
    display: none;
  }

  img {
    margin-left: -25px;
    
    height: auto;
    background-color: #26292A;
  }

  .account-container {
    background-color: #1F2122;
    margin-left: 100px;
    margin-bottom: 10px;
    display: none;
  }

  .card-container {
    padding: 0px;
  }

  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    nav {
      flex-direction: column;
    }
  }

}

/*@media screen and (max-width: 768px) {
  .card {
  width: 100%;
  }
  
  .section-3 .card {
  width: calc(50% - 10px);
  }
  }
  
  @media screen and (max-width: 576px) {
  .section-3 .card {
  width: 100%;
  }
  }

  /* Styling for EventsPage*/

.box {
    border-radius: 20px;
    margin-right: 20px;
}
  
.box select {
  background-color: #BA2649;
  color: white;
  padding: 7px;
  width: 200px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  border-radius: 20px;
}
  
.box::before {
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  border-radius: 20px;
}
  
.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}
  
.box select option {
  padding: 20px;
}

.rentoption{
  display: flex;
}